.item {
  display: flex;
  column-gap: 20px;
  justify-content: start;
  align-items: center;
}
.indicator {
  width: 38px;
  height: 38px;
  box-shadow: 1px 4px 10px -1px rgba(71, 147, 255, 0.2);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.indicator_name {
  color: #939CB0;
}