@import '~normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

.App {
  max-width: 1200px;
  margin: 0 auto;
}
body {
  font-family: 'Montserrat', sans-serif;
}